@import "../../styles/mixins.scss";

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  font-size: 0.9em;
  gap: 10px;
  margin: 0 auto;
  @include sm {
    padding: 0 20px;
  }

  &__logo {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--blue-dark);
    margin-bottom: 15px;
  }

  &__title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--blue-dark);
    text-transform: uppercase;
    font-weight: 700;
  }

  &__input {
    width: 100%;
    max-width: 400px;
    margin-top: -300px;
  }

  &__link {
    color: var(--blue);
  }
}
