.wrapper-class {
  padding: 1rem;
  border-radius: 0 0 4px 4px;
  background-color: var(--ligth-grey);
  margin-bottom: 15px;
}
.editor-class {
  padding: 1rem;
  margin-top: 15px;
  background: var(--white);
}
