.post {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  &__title {
    font-size: 2rem;
    word-break: break-all;
    display: flex;
    &__link {
      color: var(--blue-dark);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
