.create-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  &__title {
    font-size: 1.5rem;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
  }

  &__input {
    width: 100%;
    margin-top: 30px;
  }
  &__short-label {
    padding: 20px 5px 0 15px;
    border-radius: 4px 4px 0 0;
    color: var(--grey);
    background: var(--ligth-grey);
  }
}
