.post-details {
  width: 100%;
  max-width: 1000px;
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 20px;
  background: var(--white);
  &__title {
    margin: 0;
    margin-bottom: 20px;
  }
  &__comment {
    width: 100%;
  }
  &__comments {
    margin-top: 20px;
  }
  &__comments-title {
    margin-bottom: 15px;
  }
  &__comments-list {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }
}
